<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Flask Application</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <div>
      <div id='map' style='width: 100%; height: 500px;'></div>
      <form method="get">
        <fieldset>
          <ul>
            <li>
              <label for="latitude">Latitude</label>
              <input type="text" id="latitude" placeholder="e.g. 42.91" required>
            </li>

            <li>
              <label for="longitude">Longitude</label>
              <input type="text" id="longitude" placeholder="e.g. -77.78" required>
            </li>
          </ul>
        </fieldset>

        <button onclick="getWeatherData()">Get Weather</button>
      </form>
    </div>


    <svg width="720" height="300"></svg>
    
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
    <script src="/static/javascript/d3-app.js"></script>
    <script src="/static/javascript/app.js"></script>

</body>
</html>
